# Color scheme for 16 ANSI colors
ui.color.alarm.set = "bold white on red"
ui.color.complete.set = "bright green"
ui.color.even.set = ""
ui.color.focus.set = "reverse"
ui.color.footer.set = "bold bright cyan on blue"
ui.color.incomplete.set = "yellow"
ui.color.info.set = "white"
ui.color.label.set = "gray"
ui.color.leeching.set = "bold bright yellow"
ui.color.odd.set = ""
ui.color.progress0.set = "red"
ui.color.progress20.set = "bold bright red"
ui.color.progress40.set = "bold bright magenta"
ui.color.progress60.set = "yellow"
ui.color.progress80.set = "bold bright yellow"
ui.color.progress100.set = "green"
ui.color.progress120.set = "bold bright green"
ui.color.queued.set = "magenta"
ui.color.seeding.set = "bold bright green"
ui.color.stopped.set = "blue"
ui.color.title.set = "bold bright white on blue"
