# Color scheme for 256 xterm colors
ui.color.alarm.set = "bold white on red"
ui.color.complete.set = "41"
ui.color.even.set = "on 234"
ui.color.focus.set = "reverse"
ui.color.footer.set = "bright cyan on 20"
ui.color.incomplete.set = "yellow"
ui.color.info.set = "white"
ui.color.label.set = "gray"
ui.color.leeching.set = "bold bright yellow"
ui.color.odd.set = "on 232"
ui.color.progress0.set = "196"
ui.color.progress100.set = "34"
ui.color.progress120.set = "bold bright 47"
ui.color.progress20.set = "202"
ui.color.progress40.set = "213"
ui.color.progress60.set = "214"
ui.color.progress80.set = "226"
ui.color.queued.set = "magenta"
ui.color.seeding.set = "bold bright 46"
ui.color.stopped.set = "33"
ui.color.title.set = "bold bright white on blue"
